.listclass{
display:flex;
background-color:white;
color:black;
margin:2px;
border-radius:5px;
font-size:20px;
height:auto;

}
.listclass input[type="checkbox"]{
    align-self: center;
    margin-left:5px;
}


.list-input{
    display:flex;
    flex-wrap:wrap;
    width:75vw;
    padding:5px;
    justify-content: space-between;

}

.delete-task{
    display:flex;
    justify-content: center;
    font-size:12px;
    align-items:center;
    background-color:#FFD993;
    color:black;
    border-radius:15px;
    padding:2px;
    width:20px;
    height:20px
}